@charset "UTF-8";

/*ウィンドウ幅が900px以上の場合に適用するcss*/

@media screen and (min-width:900px) {
    * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif JP', serif;
    width: 100%;
    font-size: clamp(14px, 15px, 17px);
    margin: 0 auto;
    min-height: 100vh;
}
    
    body p {
        font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", メイリオ, sans-serif;
    }

header {
    border-top: 3px solid #666;
}

header h1 {
    font-size: 2.5vw;
    line-height: 2;
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.home a {
    text-decoration: none;
    color: #000;
    }
    
.home:hover {
    opacity: 0.8;
    }    

 header ul {
    display: flex;
     list-style-type: none;
     width: 100%;
     box-sizing: border-box;
}

header ul li {
    font-size: 17px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1vh 0;
    width: calc(100%/5);
    margin: 0 auto;
}
    
.current {
    background-color:  #d3d3d3; 
    }

.current:hover a {
    color: #eee;
    }
    
header ul li:first-child {
    border-left: none;
}

header ul a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    margin: 0 auto;
}

header ul a:hover {
    color: #ccc;
}
    
.about-title {
    background-color: #b0c4de;
    font-size: 40px;
    padding: 15vh 6.5vw;
    }

.point {
        font-weight: bold;
        padding: 4vh 2vw;
        font-size: 20px;
        text-align: left;
        border-bottom: 2px solid #666;
    }

.point-flame {
    display: flex;
    }
    
.point-flame img {
    width: 60%;
    height: 50vh;
    margin: 10vh 2vw;
    }
    
.about-flame-box {
    margin:0 2vw;
    }

.point-box {
    margin-top: 2vh 1vw;
    }    

.point-box p {
        margin: 5vh 2vw;
    }    
    
.philosophy-all {
    width: 85%;
    margin: 0 auto;
    }

.philosophy-box {
    text-align: center;
    margin: 5vh auto;
    }
    
.a-title {
    margin: 3vh auto 1.5vh;
    padding: 2vh;
    text-align: center;
    color: lightblue;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    background: url(../images/back-img.png) center no-repeat;
    box-sizing: border-box;
}

    
.philosophy-box h3 {
    text-align: center;
    margin: 4vh 0;
    font-size: 36px;
    letter-spacing: 1vw;
}    

.p-box-point {
        font-family: 'Noto Serif JP', serif;
        font-size: 36px;
    }
    
.p-box-point2 {
        padding: 2vh 2vw;
        margin: 10vh auto 6vh;
        background-color: #eef6fc;
    }
    
.p-box-point2 p {
    text-align: center;
    font-size: 25px;
    }
    
.p-child-box p {
    margin: 7vh 2vw;
    font-size: 18px;
    }
    
.history-all {
    width: 85%;
    margin: 0 auto;
    }

.office-box h3 {
    text-align: center;
    margin: 4vh 0;
    font-size: 36px;
    letter-spacing: 1vw;
    }
        
.history-box {
    display: flex;
    border-top: 1px solid #ccc;
    margin: 5vh 0;
    padding: 4.5vh 0 0;
    box-sizing: border-box;
    
    }
    
.history-box-last {
    padding-bottom: 4.5vh; 
    border-bottom: 1px solid #ccc;
    }
    
.history-box p {
    font-size: 18px;
    }
    
    
.history-title {
    font-weight: bold;
    margin-left: 1vw;
    position: relative;
    }

.history-l-p {
    display: flex;
    }


.history-point {
    position: absolute;
    left: 20vw;
    text-align: left;
    width: 80%;
    }
    
.history-point a {
    text-decoration: none;
    color: #429ed5;
    }
    
    .history-point a:hover {
        color: #007bff;
    }
    
footer {
    margin-top: 10vh;
    padding: 8vh 0 0;
    background-color: #29abe2;
}

.footer-l-box {
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
    }    
    
.footer-l-box h2 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 5vh;
        font-weight: normal;
    }

footer ul {
        display: flex;
        list-style-type: none;
    }
    
footer ul li {
        width: calc(100%/6);
        font-size: 15px;
    }
    
footer ul li a {
        display: block;
        text-decoration: none;
        color: white;
    }
    
footer ul li a:hover {
        color: yellow;
    }
    
footer ul li a:hover .footer-pointer{
        color: white;
    }
.copyright {
    font-size: 11px;
    padding: 2vh 0 0;
    margin-top: 7vh;
    padding-bottom: 1.2vh;
   
    }
    

    
}