@charset "UTF-8";

/*ウィンドウ幅が600px以上899px以下の場合に適用するcss*/

@media screen and (max-width:899px) and (min-width:600px) {

    * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif JP', serif;
    width: 100%;
    font-size: clamp(14px, 15px, 17px);
    margin: 0 auto;
    min-height: 100vh;
}
    
    body p,dl {
        font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", メイリオ, sans-serif;
         font-size: 17px;
    }

header {
    border-top: 3px solid #666;
}

header h1 {
    font-size: 2.8vw;
    line-height: 2;
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.home a {
    text-decoration: none;
    color: #000;
    }
    
.home:hover {
    opacity: 0.8;
    }    

 header ul {
    display: flex;
     list-style-type: none;
     width: 100%;
     box-sizing: border-box;
}

header ul li {
    font-size: 17px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1vh 0;
    width: calc(100%/5);
    margin: 0 auto;
}
    
.current {
    background-color:  #d3d3d3; 
    }

.current:hover a {
    color: #eee;
    }
    
header ul li:first-child {
    border-left: none;
}

header ul a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    margin: 0 auto;
}

header ul a:hover {
    color: #ccc;
}
 
.lawyer-title {
    background-color: #a9a9a9;
    font-size: 35px;
    padding: 15vh 6.5vw;
    }
    
main {
    width: 85%;
    margin: 0 auto;
    }
    
main h3 {
    padding: 3vh 2vw;
    margin: 6vh 0 3vh;
    font-size: 24px;
    border-bottom: 2px solid #000;
    }
    
.lawyer-img-box img {
    width: clamp(450px, 560px, 590px);
    height: 70vh;
    margin: 5vh auto;
    display: block;
    }
    
.lawyer-img-box-p {
        margin: 1vh auto;
        text-align: center;
        line-height: 1.5;
    }
    
.lawyer-img-box-p p {
    margin: 3vh 0;
    font-size: 18px;
    }
    
.career-l-box {
    display: flex;
    line-height: 2.5;
    }
    
.career-l3 {
    margin-left: 3vw;
    }
    
.career-all h4:first-letter {
        border-left: 5px solid #000;
        padding-left: 2vw;
    }
    
.career-l {
    margin-bottom: 2vh;
    }

    
.career-all  h4 {
    margin: 4vh 0;
    }
    
.career-all p {
    font-size: 18px;
    }
    
dl {
    font-size: 17px;
    }
    
footer {
    margin-top: 10vh;
    padding: 8vh 0 0;
    background-color: #29abe2;
}

.footer-l-box {
    width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
    }    
    
.footer-l-box h2 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 5vh;
        font-weight: normal;
    }

footer ul {
        display: flex;
        list-style-type: none;
    }
    
footer ul li {
        width: calc(100%/6);
        font-size: 15px;
    }
    
footer ul li a {
        display: block;
        text-decoration: none;
        color: white;
    }
    
footer ul li a:hover {
        color: yellow;
    }
    
footer ul li a:hover .footer-pointer{
        color: white;
    }
.copyright {
    font-size: 11px;
    padding: 2vh 0 0;
    margin-top: 7vh;
    padding-bottom: 1.2vh;
   
    }
    

}